<div style="padding : 20px">
<button md-raised-button color="primary" routerLink="/dashboard/app-auction">Auctioneer</button>
</div>


<md-card style="padding : 20px">
  <h2>Categories</h2>
  <hr>
<div>
  <button style="margin: 10px" color="accent" md-raised-button routerLink="/dashboard/app-phone-category">Mobile</button>
  <button style="margin: 10px" color="accent" md-raised-button routerLink="/dashboard/app-computer-category">Computer</button>
  <button style="margin: 10px" color="accent" md-raised-button routerLink="/dashboard/app-tv-category">TV</button>
</div>
</md-card>