<md-toolbar>
  Auction App
  <span class="example-spacer"></span>
  <button md-raised-button color="primary" routerLink="../app-signup">SIGNUP</button>
</md-toolbar>

<div style="padding : 5%"></div>

<md-card style="width:400px; margin: 0 auto" *ngIf="isLoggedIn$ | async">
  <h3 style="text-align : center">LOGIN</h3>
  <form style="text-align: center;" class="example-form" [formGroup]="loginForm">
    <md-form-field class="example-full-width">
      <input #email type="email" mdInput formControlName="email" placeholder="Type Email">
      <md-error>This field is required</md-error>
    </md-form-field>

    <md-form-field class="example-full-width">
      <input type="password" mdInput formControlName="password" placeholder="Favorite Password">
      <md-error>This field is required</md-error>
    </md-form-field>
    <div *ngIf="isError" style="color : red">
      {{error}}
    </div>
    <button md-raised-button color="primary" (click)="submit()" [disabled]="!this.loginForm.valid">submit</button>
  </form>
</md-card>
<div style="width:150px; margin: 0 auto" *ngIf="loader | async">
  <md-spinner></md-spinner>
</div>